# Compiled Object files
*.slo
*.lo
*.o
*.app
build/*
!build/build.sh
!build/clean.sh
!build/rebuild.sh
!build/cmake

# Compiled Dynamic libraries
*.so
!library/*

# Compiled Static libraries
*.lai
*.la
*.a
!library/*

# OSX
*.DS_Store
.DS_Store

# QtCreator
*.pro.user
