# Compiled Object files
*.slo
*.lo
*.o
sfml-cmake.app
build/*
!build/build.sh
!build/clean.sh

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# OSX
*.DS_Store
.DS_Store

# QtCreator
*.pro.user
