# Build directory
build/*
!build/build.sh
!build/clean.sh
!build/rebuild.sh
!build/clean-dsstore.sh
!build/remove-deleted-files-from-git.sh
!build/cmake
!library

# OSX
*.DS_Store
.DS_Store
*.app

# QtCreator
*.pro.user
*.autosave

# Build files
.sconsign.dblite
